{% extends 'website/layout.html' %}

{% block main %}
<img src="/static/website/images/img/tcicon.png" class="img-fluid" alt="Responsive image">
<div class="row">
    <div class="col-6 mx-auto">
        <div class="text-center">
            Este website foi criado no âmbito da cadeira "Teorida da Computação". Este projeto dá a possibilidade ao utilizador
            de usar ferramentas para o estudo e observação de autómatos finitos, máquinas de turing e expressões regulares.
        </div>
        <br>
        <blockquote class="blockquote">
            <p class="mb-0">Uma máquina pode fazer o trabalho de cinquenta homens comuns. Nenhuma máquina pode fazer o
                trabalho de um
                homem extraordinário.</p>
            <footer class="blockquote-footer">Elbert Hubbard</footer>
        </blockquote>
    </div>
</div>
{% endblock %}