<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoria da Computação</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html,body{
            margin: 0;
            padding: 0;
            overflow: hidden auto;
        }
        header{
            min-height: 95vh;
        }
        .nav-link{
            font-size: 1.5em;
            color: whitesmoke !important;
        }
    </style>
</head>

<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <span class="navbar-text d-none d-lg-block mr-auto">
                {% load static %}
                <a href="https://www.lis.ulusiada.pt/pt-pt/in%c3%adcio.aspx" target="_blank"><img src="/static/website/images/lusiada.png" style="height:50px;"></a>
            </span>
            <ul class="navbar-nav ">
                <li class="nav-item mr-lg-4">
                    <a class="nav-link" href="{% url 'website:index' %}">Início</a>
                </li>
                <li class="nav-item mr-lg-4">
                    <a class="nav-link" href="{% url 'website:automatosFinitos' %}">Autómatos Finitos</a>
                </li>
                <li class="nav-item mr-lg-4">
                    <a class="nav-link" href="{% url 'website:maquinasTuring' %}">Máquinas de Turing</a>
                </li>
                <li class="nav-item mr-lg-4">
                    <a class="nav-link" href="{% url 'website:expressoesRegulares' %}">Regex</a>
                </li>
            </ul>
            
        </div>
    </nav>

    <div class="text-center mt-5">
         {% block main %}
        {% endblock %}
    </div>
</header>
<footer class="text-center border-top mt-3">Manuel Gonçalves  	&copy; Universidade Lusíada de Lisboa</footer>
</body>
</html>