{% extends 'website/layout.html' %}

{% block main %}

<main class="col-sm-12 text-center">
    <h3>Máquinas de Turing (MT)</h3>
    <a href="{% url 'website:novoMaquina' %}" class="container btn btn-success btn-sm btn-block" style="max-width:900px">
        Crie uma MT
    </a>
    <br>
    <p>Apresentam-se em baixo máquinas que foram criadas.</p>
    <table align="center" class="table" style="max-width:900px">
        <tr>
            <th class="text-center">Diagrama de Estados</th>
            <th class="text-center">Descrição</th>
        </tr>
        {% load static %}
        {% for maquina in maquinasTuring %}
            <tr class="text-left">
                <td>
                    <a href="{% url 'website:detalhesMaquina' maquina.id %}">
                        <img src="{% static maquina.diagrama %}" alt="" width="80%">
                    </a>
                </td>
                <td style="vertical-align:bottom">
                    <p>{{ maquina.descricao }}</p>
                    <p>
                        <a href="{% url 'website:detalhesMaquina' maquina.id %}" class="btn btn-info btn-sm">
                            Detalhes
                        </a>
                        <a href="{% url 'website:detalhesMaquina' maquina.id %}" class="btn btn-success btn-sm">
                            Validar Sequência
                        </a>
                        <a href="{% url 'website:editarMaquina' maquina.id %}" class="btn btn-warning btn-sm">
                            Editar MT
                        </a>
                        <a href="{% url 'website:apagarMaquina' maquina.id %}" class="btn btn-danger btn-sm">
                            Apagar MT
                        </a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}

{% block aside %}
{% endblock %}
