{% extends 'website/layout.html' %}

{% block main %}

<main class="col-12 col-md-8 mx-auto">
    <h3>Expressões Regulares</h3>
    <p>Pode aqui especificar uma nova expressão que ficará armazenada na base de dados.
        A expressão será implementada e poderá ser usada.</p>

    <form class="form-group" action="{% url 'website:novoExpressao' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-right">
            <a href="{% url 'website:expressoesRegulares' %}" role="button" class="btn btn-warning">Cancelar</a>
            <input type="submit" class="btn btn-success" value="submeter">
        </div>
    </form>
</main>
{% endblock %}